.paragraph--deals {
    text-align: left !important;
    font-size: 14px;
    line-height: 1.4;
}

.container--footer {
    color: #ffffff;
    text-align: center;
}

.link--anchorStyle {
  text-decoration: none;
  color: inherit;
}

.container--salesEndIn {
  margin-left: 15px !important;
}

/* Media Query Starts here */
@media screen and (max-width: 600px) {
  .link--anchorStyle {
    margin-right: 15px;
  }
}
